<h1>{{ title }}</h1>
<div>
  <agm-map #AgmMap  [latitude]="-14.235004" [longitude]="-51.92528" [zoom]="4">
    
    <agm-marker    [iconUrl]="munp.cases_c | iconsMaps"  [label]="munp.cases_c" [title]="munp.name"  *ngFor="let munp of listaMunicipios" [latitude]="munp.coordinates  | coordsMunicipio:'lat'  " [longitude]="munp.coordinates | coordsMunicipio:'lng'">
      <agm-info-window>
        <div class="row">
          <div class="col-auto text-center items-center content-center q-pa-md">
          </div>
          <div class="col">
             <div>
                <b>{{ munp.name }}</b>
             </div>
             <br>
             <div>Confirmados: {{munp.cases_c }} | Descartados {{ munp.cases_d }} | Óbitos: {{ munp.deaths }}
             </div>
          </div>
       </div>

      </agm-info-window>
    </agm-marker>
  
  </agm-map>
</div>


